* {
    box-sizing: border-box;
    padding: 0;
    margin-top: 16px;
}

div.container {
    background-color: #f0f8f0;
    border: 2px solid #a52a2a;
    margin: 48px;
}

div.container {
    background-color: #f0f8f0;
    border: 2px solid #a52a2a;
    margin: 8px;
    padding: 24px;
}

.title {
    text-align: center;
    margin-bottom: 8px;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding-inline: 35px;
}

ul > li > a {
    text-decoration: none;
}
